body {
    background-color: #956801;
    height: 100%;
}
.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-img{
    padding-right: 50px;
}
img {
    height: 350px;
}
.submit-btn{
    width: 200px;
    height: 40px;
    background-color: #F5AF0B;
    color: #800000;
    border-color:transparent;
    border-radius: 25px;
}
.submit-btn:hover{
    background-color: #800000;
    color: #F2F2F2;
}